.footer {
  background-color: rgb(17, 17, 17);
  color: #333;
  padding: 20px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__section {
  flex: 0.5;
  padding: 10px;
}

.footer__brand {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.foot_img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.footer-icon {
  font-size: 30px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.footer__socials a {
  font-size: 24px;
  margin-right: 10px;
  color: aqua; /* Dark green icons */
}

h4 {
  font-size: 22px;
  margin-bottom: 10px;
  color: white;
}

.footer__list {
  list-style: none;
  display: flex;

  padding: 0;
}
.footer__section button {
  padding: 12px;
  background-color: #333;
  color: white;
  border: 1px solid white;
}
.footer__section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__section input {
  padding: 12px;
  width: 80%;
  margin: 5px;
  background-color: #333;
  border: 1px solid white;
}
.footer__list li {
  margin-bottom: 10px;
}

.footer__copyright {
  text-align: center;
  padding: 10px 0;

  font-size: 14px;
  color: white;
}

.footer__socials a:hover {
  color: #f8e71c; /* Yellow color on hover */
}
